# 01. Importing libraries

In [35]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02 Importing data

In [38]:
# Establish path
path = r'C:\Users\elena\Documents\02.2025 Instacart Basket Analysis'

In [40]:
# Import Orders datafile
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [41]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [44]:
# Redundant column 'Unnamed:0' needs to be dropped from the dataframe. 
df_ords_1 = df_ords.drop('Unnamed: 0', axis=1)

In [46]:
df_ords_1.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

Problem with the redundant column in the orders dataframe has been corrected. An updated version of the dataframe: df_ords_1 should be use in the exercise

In [49]:
# Importing prior orders data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [50]:
# Check the imported dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [52]:
# Checking the shape of the orders data
df_ords_1.shape

(3421083, 6)

In [55]:
# Checking the shape of the prior orders data
df_ords_prior.shape

(32434489, 4)

# 03 Merging Orders and Prior Orders data

In [58]:
# Merging df_ords_1 and df_ords_prior dataframes with inner join
df_merged_large = df_ords_prior.merge(df_ords_1, on = 'order_id', indicator = True)

In [59]:
# Checking the merged dataframe
df_merged_large.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge
0,2,33120,1,1,202279,3,5,9,8.0,both
1,2,28985,2,1,202279,3,5,9,8.0,both
2,2,9327,3,0,202279,3,5,9,8.0,both
3,2,45918,4,1,202279,3,5,9,8.0,both
4,2,30035,5,0,202279,3,5,9,8.0,both

In [62]:
#Checking the number of rows results from the inner merge
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

Since the default inner merge was used, only the rows that were matched across the two dataframes are present in the merged dataframe

# 04 Exporting the merged dataframe as a pickle file

In [66]:
# Exporting df_merged_large into prepared data folder as a pickle file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined2.pkl'))